@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,600&display=swap");
:root {
  --very-lightGrayishBlue: hsl(240, 78%, 98%);
  --light-grayishBlue: hsl(234, 14%, 74%);
  --grayishBlue: hsl(233, 13%, 49%);
  --dark-grayishBlue: hsl(232, 13%, 33%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
  background-color: var(--very-lightGrayishBlue);
}

body::before {
  content: "";
  background-image: url("/bg-top.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

body::after {
  content: "";
  background-image: url("/bg-bottom.svg");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: bottom left;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

img {
  display: block;
  max-width: 100%;
}

button {
  font-family: inherit;
}

.container {
  margin: 2rem auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container__heading {
  font-weight: 700;
}

.toggle-container {
  margin: 2rem 0 4rem 0;
  display: flex;

  align-items: center;
  justify-content: center;
  gap: 20px;
}

.toggle-container label {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  border-radius: 50px;
  position: relative;
  display: inline-block;
  top: 1.5px;
  width: 60px;
  height: 30px;
  cursor: pointer;
  transition: all 0.3s;
}

.toggle-container label:hover,
.toggle-container label:focus,
.toggle-container label:focus-visible {
  opacity: 0.8;
}

.toggle-container label .ball {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  background-color: white;
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  transition: all 0.3s ease-in-out;
}

.toggle-container input {
  position: absolute;
  left: -9999px;
  cursor: pointer;
}

.toggle-container input:checked + label .ball {
  transform: translateX(30px);
}

.box {
  background-color: #ffffff;
  padding: 1.5rem;
  border-radius: 10px;
  width: 90%;
  margin: 0 auto;
  font-weight: 700;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.box h3 {
  font-size: 3rem;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  /* gap: 7px; */
  margin-bottom: 1.25rem;
}

.box p {
  font-size: 14px;
}

hr {
  border: none;
  border-top: 1px solid var(--light-grayishBlue);
}

.prices__box_container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.prices__box_basic,
.prices__box_professional,
.prices__box_master {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 90%;
}

.prices__box_professional {
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: #ffffff;
}

.learnmore-btn {
  cursor: pointer;
  background: linear-gradient(to right, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--very-lightGrayishBlue);
  letter-spacing: 1.25px;
  border: 1px solid hsl(237, 63%, 64%);
  font-weight: 700;
  text-transform: uppercase;
  padding: 0.85rem 1.25rem;
  border-radius: 5px;
  margin-top: 1.25rem;
}

.learnmore-btn:hover,
.learnmore-btn:focus,
.learnmore-btn:focus-visible,
.professional-btn {
  background-image: none;
  background-color: #fff;
  color: hsl(237, 63%, 64%);
}

.professional-btn {
  border: 1px solid #fff;
}

.professional-btn:hover,
.professional-btn:focus,
.professional-btn:focus-visible {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: #fff;
}

/* Toggle Annual and Monthly Price */
.monthly-price {
  display: none;
}

.show-monthly-price .annual-price {
  display: none;
}

.show-monthly-price .monthly-price {
  display: block;
}

@media (min-width: 768px) {
  .container {
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    margin: 0 auto;
  }

  .prices__box_container {
    flex-direction: row;
    gap: 10px;
    margin-inline: 15px;
    align-items: baseline;
  }

  .prices__box_professional {
    transform: scale(1.1, 1.15);
  }

  .prices__box_professional > * {
    transform: scale(0.869);
  }
}
